.footer-navs {
    gap: 67px;
    width: 200px;
}


.links {
    text-align: center;
    align-items: center;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    padding-top:5px ;
    background-color: #8cc73e;
}

.link {
   scale: 110%; 
   
}


