.footer-navs {
    gap: 67px;
    width: 390px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.links {
    text-align: center;
    align-items: center;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    position: relative;
    bottom: 0;
    right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    /* background-color: #8cc73e; */
    background-color: #0b3c48;
}

.link {
   scale: 120%; 
}


