@tailwind base;
@tailwind components;
@tailwind utilities;

.screen-title-container {
    height: 133px;
}

.screen-base-title {
    width: screen;
    height: 74px;

    /* font-family: Rubik, Arial, serif; */
    /* font-weight: 700; */
    /* font-size: 64px; */
    line-height: 73.59px;

    margin: auto;

}

.screen-title {
    width: 128px;
    height: 35px;

    margin: auto;
    margin-top: 30px;

    background-color: #8cc73e;

    border: 4px #8cc73e;
    width: 100%;
}

.screen-title-text {
    justify-content: center;
    margin: 2px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 90px;
    font-weight: 700;
    font-size: 48px;
    text-shadow:
        1px 1px 2px #4eb451,
        0 0 1em #4eb451,
        0 0 0.2em #4eb451;
    text-align: center;
    letter-spacing: 1px;

}