@tailwind base;
@tailwind components;
@tailwind utilities;

.screen-title-container {
    height: 100px;
}

.screen-base-title {
    width: screen;
    height: 70px;
    margin: auto;
}

.screen-title {
    width: 128px;
    height: 50px;

    margin: auto;
    margin-top: 10px;
    background-color: #8cc73e;

    border: 4px #8cc73e;
    width: 100%;
}

.screen-title-text {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    color: white
}