/* HTML: <div class="loader"></div> */
.loader {
    width: 120px;
    height: 20px;
    /* background:
     linear-gradient(#000 0 0) 0/0% no-repeat
     #ddd;
    animation: l1 2s infinite linear; */
}

@keyframes l1 {
    100% {
        background-size: 100%
    }
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 1000;
}

progress{
    --_track-size: min(10px, 1ex);
    --_radius: 1e3px;
  
    /*  reset  */
    appearance: none;
    border: none;
  
    position: relative;
    height: var(--_track-size);
    border-radius: var(--_radius);
    overflow: hidden;
    color-scheme: light dark;
}

progress:not([max])[value="1"]::before,
progress[max="100"][value="100"]::before {
  content: "✓";
  
  position: absolute;
  inset-block: 0;
  inset-inline: auto 0;
  display: flex;
  align-items: center;
  padding-inline-end: max(calc(var(--_track-size) / 4), 3px);

  color: white;
  font-size: calc(var(--_track-size) / 1.25);
}