.home-screen-slogan-container {
    background-color: #293622;
    width: 393px;
    height: 500px;
    gap: 24px;
    margin: auto;
    overflow-y: hidden;
}

.home-screen-slogan {
    width: 393px;
    height: 133px;
    background-color: #FFFFFF;
    color: white;
}
