@tailwind base;
@tailwind components;
@tailwind utilities;

.home-screen-slogan-container {
    background-color: #FFFFFF;
    width: 393px;
    height: 650px;
    gap: 24px;
    margin: auto;
}

.home-screen-slogan {
    width: 393px;
    height: 133px;

    background-color: #FFFFFF;
    color: #000000;
}

.home-screen-slogan-golfin {
    width: 242px;
    height: 74px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 73.59px;
    
    margin: auto;
    
}

.home-screen-slogan-earn {
    width: 128px;
    height: 90px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 90px;
    
    color: #000000;
    
    align-items: center;
    text-align: center;

    margin: auto;
    
}

.home-screen-container {

    width: 393px;
    height: 480px;
    background-color: #FFFFFF;
    color: #000000;
}

.home-screen-container-illustration {
    width: 246px;
    height: 90px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 90px;
    align-content: center;
    justify-content: center;
    margin: auto;

}
.home-screen-container-loader {
    width: 161px;
    height: 90px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 90px;
    align-content: center;
    justify-content: center;
    margin: auto;
}