.home-screen-slogan-container {
    background-color: #293622;
    width: 393px;
    height: 650px;
    gap: 24px;
    margin: auto;
}

.home-screen-slogan {
    width: 393px;
    height: 133px;
    background-color: #FFFFFF;
    color: white;
}
